<header >
    <img src="/img/weather.png" width="40px" height="40px" alt="weather_logo">
    <h1>{{title}}</h1>
    <div class='nav-wrapper'>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </div>
</header>

